<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/ionicons@6.x/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
    <title>Wheels 4 Rent/Login</title>
</head>
<body>
    <header>
        <h2 class="logo">Wheels 4 Rent</h2>
        <nav class="navigation">
           <a href="/register"><button class="btnRegister-popup">Register</button></a>
        </nav>
   </header>

   <div class="wrapper">
    <div class="form-box login">
        <h2>Login</h2>
        <form action="/login" method="POST">
            <div class="input-box">
                <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                <input type="email" name="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                <input type="password" name="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account?<a href="/register" class="register-link">Register</a></p>
            </div>
        </form>
    </div>
   </div>
</body>
</html>
