<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Wheels 4 Rent/Services</title>
</head>
<body>
    <!--header-->
    <header>
        <h2 class="logo">Wheels 4 Rent</h2>
        <nav class="navigation">
           <a href="/ride">Home</a>
           <a href="/about">About</a>
           <a href="/reviews">Reviews</a>
           <a href="/logout"><button class="btnLogout-popup">Logout</button></a>
        </nav>
   </header>
    <section class="services" id="services">
        <div class="heading">
            <span>Best Services</span>
            <h1>Explore Out Top Deals <br> From Top Rated Dealers</h1>
        </div>
        <div class="services-container">
            <div class="box">
                <div class="box-img">
                    <img src="/static/car10.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Honda Civic</h3>
                <h2>RS.20000 | RS.3000 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Honda%20Civic&year=2017&price=RS.20000&monthly=RS.3000/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car4.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Honda city</h3>
                <h2>RS.15000 | RS.3500 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Honda%20City&year=2017&price=RS.15000&monthly=RS.3500/month" class="btn">Rent Now</a>

            </div>
            <div class="box">
                <div class="box-img">
                    <img src="/static/car12.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2019 Honda Jazz</h3>
                <h2>RS.13000 | RS.2500 <span>/month</span></h2>
                <a href="/confirm?model=2019%20Honda%20Jazz&year=2017&price=RS.13000&monthly=RS.2500/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car6.jpg" alt="">
                </div>
                <p>2020</p>
                <h3>2021 Hyndai i20</h3>
                <h2>RS.14000 | RS.3000 <span>/month</span></h2>
                <a href="/confirm?model=2021%20Hyndai%20i20&year=2020&price=RS.14000&monthly=RS.3000/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car7.jpg" alt="">
                </div>
                <p>2022</p>
                <h3>2023 Toyota Vellfire</h3>
                <h2>RS.35500 | RS.5500<span>/month</span></h2>
                <a href="/confirm?model=2023%20Toyota%20Vellfire&year=2022&price=RS.35500&monthly=RS.5500/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car13.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Hyndai Alcazar</h3>
                <h2>RS.17000 | RS.3700 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Hyndai%20Alcazar&year=2017&price=RS.17000&monthly=RS.3700/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car25.jpg" alt="">
                </div>
                <p>2021</p>
                <h3>2021 Toyota Innova crysta</h3>
                <h2>RS.20000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2021%20Toyota%20Innova crysta&year=2021&price=RS.20000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car17.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>2020 Hyndai i10</h3>
                <h2>RS.15000 | RS.3000 <span>/month</span></h2>
                <a href="/confirm?model=2020%20Hyndai%20i10&year=2019&price=RS.15000&monthly=RS.3000/month" class="btn">Rent Now</a>
            </div>


            <div class="box">
                <div class="box-img">
                    <img src="/static/car14.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2019 Hyndai Tucson</h3>
                <h2>RS.19000 | RS.4300 <span>/month</span></h2>
                <a href="/confirm?model=2019%20Hyndai%20Tucson&year=2017&price=RS.19000&monthly=RS.4300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car15.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Hyndai Creta</h3>
                <h2>RS.16000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Hyndai%20Creta&year=2017&price=RS.16000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car16.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Hyndai Elantra</h3>
                <h2>RS.13000 | RS.2300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Hyndai%20Elantra&year=2017&price=RS.13000&monthly=RS.2300/month" class="btn">Rent Now</a>
            </div>


            <div class="box">
                <div class="box-img">
                    <img src="/static/car18.jpg" alt="">
                </div>
                <p>2020</p>
                <h3>2022 Tata Hexon</h3>
                <h2>RS.18000 | RS.3500 <span>/month</span></h2>
                <a href="/confirm?model=2022%20Tata%20Hexon&year=2020&price=RS.18000&monthly=RS.3500/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car19.jpg" alt="">
                </div>
                <p>2018</p>
                <h3>2019 Tata Tiago</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2019%20Tata%20Tiago&year=2018&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car20.jpg" alt="">
                </div>
                <p>2020</p>
                <h3>2022 Tata Harrier</h3>
                <h2>RS.12000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2022%20Tata%20Harrier&year=2020&price=RS.12000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car21.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>2021 Maruti Swift</h3>
                <h2>RS.12000 | RS.2300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Hyndai%20Elantra&year=2017&price=RS.13000&monthly=RS.2300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car22.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Maruthi S-Cross</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Maruthi%20S-Cross&year=2017&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car23.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Maruti Alto</h3>
                <h2>RS.6000 | RS.1000 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Maruti%20Alto&year=2017&price=RS.6000&monthly=RS.1000/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car24.jpg" alt="">
                </div>
                <p>2018</p>
                <h3>2019 Maruti Vitara Brezza</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2019%20Maruti%20Vitara Brezza&year=2018&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car26.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Toyota Innova </h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Toyota%20Innova&year=2017&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car27.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2019 Toyota Innova Supreme</h3>
                <h2>RS.19000 | RS.5300 <span>/month</span></h2>
                <a href="/confirm?model=2019%20Toyota%Innova Supreme&year=2017&price=RS.19000&monthly=RS.5300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car28.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Toyota Etios</h3>
                <h2>RS.13000 | RS.2300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Toyota%20Etios&year=2017&price=RS.13000&monthly=RS.2300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car29.jpg" alt="">
                </div>
                <p>2020</p>
                <h3>2021 KIA Seltos</h3>
                <h2>RS.14000 | RS.2400 <span>/month</span></h2>
                <a href="/confirm?model=2021%20KIA%20Seltos&year=2020&price=RS.14000&monthly=RS.2400/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car30.jpg" alt="">
                </div>
                <p>2019</p>
                <h3>2020 KIA ---</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2020%20KIA%20---&year=2019&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car31.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Mahindra XUV-500</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Mahindra%20XUV-500&year=2017&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car32.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Mahindra Thor</h3>
                <h2>RS.21000 | RS.3200 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Mahindra%20Thor&year=2017&price=RS.21000&monthly=RS.3200/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car33.jpg" alt="">
                </div>
                <p>2017</p>
                <h3>2018 Mahindra Scorpio</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2018%20Mahindra%20Scorpio&year=2017&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

            <div class="box">
                <div class="box-img">
                    <img src="/static/car9.jpg" alt="">
                </div>
                <p>2023</p>
                <h3>2024 Innova Hycross hybrid</h3>
                <h2>RS.15000 | RS.3300 <span>/month</span></h2>
                <a href="/confirm?model=2024%20Innova%20Hycross hydrid&year=2023&price=RS.15000&monthly=RS.3300/month" class="btn">Rent Now</a>
            </div>

        </div>
    </section>
</body>
</html>