<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/static/styles.css">
    <title>Wheels 4 Rent/Order Confirmation</title>
</head>
<body>
    <section class="order-confirmation">
        <div class="container">
            <h1>Order Confirmation</h1>
            <p>Thank you for your order!</p>
            <div class="order-details">
                <h2>Your Rental Details:</h2>
                <!-- <p><strong>Location:</strong> <span id="confirmLocation"></span></p>
                <p><strong>Pick-up Date:</strong> <span id="confirmPickUpDate"></span></p>
                <p><strong>Pick-up Time:</strong> <span id="confirmPickUpTime"></span></p>
                <p><strong>Return Date:</strong> <span id="confirmReturnDate"></span></p>
                <p><strong>Return Time:</strong> <span id="confirmReturnTime"></span></p> -->
                <p><strong>Car Model:</strong> <span id="carModel"></span></p>
                <p><strong>Year:</strong> <span id="carYear"></span></p>
                <p><strong>Price:</strong> <span id="carPrice"></span> | <span id="monthlyPrice"></span> per month</p>
            </div>
            <a href="/ride" class="btn">Back to Home</a>
            </form>
        </div>
    </section>

    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            document.getElementById('carModel').textContent = urlParams.get('model');
            document.getElementById('carYear').textContent = urlParams.get('year');
            document.getElementById('carPrice').textContent = urlParams.get('price');
            document.getElementById('monthlyPrice').textContent = urlParams.get('monthly');
        };
    </script>
</body>
</html>
