/*goole fonts */
@import url("http://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;700;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior:  smooth;
    list-style: none;
    text-decoration: none;
    font-family: "poppins",sans-serif;
}
:root {
    --main-color: #162938;
    --second-color: #fe5b3d;
    --text-color: #fff;
    --gradient: linear-gradient(#aabf0a,#fe5b3d);
}


html::-webkit-scrollbar {
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 5rem;
}
section {
    padding: 50px 100px;
}
body {
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background: url('/static/back.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    font-size: 2em;
    color: #d80909;
    user-select: none;
}

.navigation a{
      position: relative;
      font-size: 1.1em;
      color: #d80909;
      text-decoration: none;
      font-weight: 500;
      margin-left: 30px;
}

/* .navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
} */

.btnLogin-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #e6fa08;;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#d80909;
    font-weight: 500;
    margin-left: 0px;

}
.btnLogin-popup:hover {
    background: var(--second-color);
    color: #fff;
}

.btnRegister-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid#e6fa08;;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color:#d80909;
    font-weight: 500;
    margin-left: 0px;

}
.btnRegister-popup:hover {
    background: var(--second-color);
    color: #fff;
}

.btnLogout-popup {
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #e6fa08;;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#d80909;
    font-weight: 500;
    margin-left: 0px;

}
.btnLogout-popup:hover {
    background: var(--second-color);
    color: #fff;
}

.wrapper {
    background:#e0d7e0;
    padding: 20px;
    box-shadow: 0 0 15px rgba(48, 7, 181, 0.878);
    border-radius: 8px;
    width: 350px;
}
.form-box h2 {
    font-size: 2em;
    color: #474fa0;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #474fa0;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#474fa0;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color:#474fa0;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color:#474fa0;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color:#474fa0;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #474fa0;
    margin-right: 3px;
}

.remember-forgot a {
    color: #474fa0;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #474fa0;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffff;
    font-weight: 500;
}
.btn:hover {
    background: var(--main-color);
}

.login-register {
    font-size: .9em;
    color: #474fa0;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color:#474fa0;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
    position: absolute;
    bottom: 8rem;
    left: 100px;
    background: #ffff;
    padding: 20px;
    border-radius: 1rem;
}

.ride .heading  {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 20px;
}
.ride .heading h1 {
    font-size: 3rem;
    margin-top: -11rem;
}

.input-box{
    flex: 1 1 7em;
    display: flex;
    flex-direction: column;
}
.input-box span {
    font-weight: 500;
}
.input-box input{
    padding: 5px;
    outline: none;
    border: none;
    background: #e0d7e0;
    border-radius: 1rem;
    font-size: 1rem;
}
.form-container form .btn{
    flex: 1 1 7rem;
    padding: 4px 25px;
    border: none;
    border-radius: 1rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
}
.form-container form .btn:hover {
    background: var(--main-color);
}

/* .ride .heading {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 20px;
}
.ride .heading span {
    font-weight: 800;
    font-size: 3rem;
    text-transform: uppercase;
} */
/* .ride .heading h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 20px;
    font-size: 2rem;
} */

/* .ride #container {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.ride .box {
    min-width: 250px;
    box-shadow: 0 2px 6px rgba(48, 7, 181, 0.878);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    background: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ride .box:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(48, 7, 181, 0.878);
}

.ride .box i {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .ride.container {
        flex-direction: column;
        align-items: center;
    }

    .ride .box {
        width: 100%;
        margin-bottom: 20px;
    }
} */

.services .heading {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 20px;
}
.services .heading span {
    font-weight: 500;
    text-transform: uppercase;
}
.services .heading h1 {
    font-size: 2rem;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #e0d7e0;
    gap: 3rem;
    margin-top: 4rem;
}
.services-container .box {
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(223, 221, 230, 0)
}
.services-container .box .box-img img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.services-container .box p {
    padding: 0 10px;
    border: 1px solid var(--second-color);
    width: 58px;
    border-radius: 1rem;
    margin: 1rem 0 1rem;
}
.services-container .box h3 {
    font-weight: 600;
}
.services-container .box h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.services-container .box h2 span {
    font-size: 0.8rem;
    font-weight: 500;
    color: #d80909;
}
.services-container .box .btn {
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.services-container .box .btn:hover {
    background: var(--main-color);
}


.about .heading {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 20px;
}
.about .heading span {
    font-weight: 500;
    text-transform: uppercase;
}
.about .heading h1 {
    font-size: 2rem;
}
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.about-text {
    background: #e9ecef;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(48, 7, 181, 0.615);
    max-width: 800px;
}

.about-text .box {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.about-text span {
    font-weight: 1000;
    color: #090909;
    display: 100;
    margin-bottom: 20px;
}

.about-text p {
    margin-top: 0;
    color: #666;
}

.about-text a.btn {
    display: inline-block;
    background: #474fa0;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.about-text a.btn:hover {
    background: var(--main-color);
}


.review-form-container {
    display: grid;
    background-color: #fff;
    width: 800px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(48, 7, 181, 0.615);
    border-radius: 8px;
}


.form-group {
    margin-bottom: 10px;
}
.form-group label {
    display: block;

}
.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
}
button:hover {
    background-color: #218838;
}



ul {
    list-style-type: none;
    padding: 10px;
}
li {
    margin-bottom: 10px;
}
li strong {
    display: block;
    margin-bottom: 10px;
}

/* .review-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(48, 7, 181, 0.615);
    width: 300px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5c67f2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: var(--main-color);
} */







.copyrights {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color:#0e0e0f;
    font-size: 100;
    align-items:baseline;
    margin-bottom: -80rem;
}

.social a {
    color: #101010;
    padding: 10px;
    font-size: 21px;
}






.container {
    background-color: #ffffff;
    width: 80%;
    max-width: 700px;
    margin: 40px ;
    padding: 20px;
    box-shadow: 0 0 10px rgba(48, 7, 181, 0.615);
    border-radius: 8px;
}

.h1 {
    color: #2C3E50;
    text-align: center;
}

.h2 {
    margin-top: 20px;
    color: #34495E;
}

.p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.strong {
    color: #000;
}


.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #474fa0;
    color: white;
    text-align: center;

}

.btn:hover {
    background-color: var(--main-color);
}







